node_modules
.env
.env.local
.neon_local/
.env.development
.env.production
neon-local-config/
public/readme/module-icon.webp
public/readme/module-thumbnail.webp

# logs file
logs
*.log
npm-debug.log*

# Drizzle ORM
drizzle/meta/

*.httpie

WARP.md
README-DOCKER.md